<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.customview">
    <!-- 动作管理覆盖权限 -->
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" /> <!-- 显示系统窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 在 屏幕最顶部显示addview -->
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/qq_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/qq_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mp_chart.BlueTooth2MPChartViewActivity"></activity>
        <activity android:name=".opencv_demo.OpenCvTestActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gesture_track.GestureTrackActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".youku.menu.MenuActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".youku.menu.YoukuMenu"
            android:launchMode="singleTop" />
        <activity
            android:name=".advance.AdvanceItem"
            android:launchMode="singleTop" />
        <activity
            android:name=".popup.windows.PopupWindowsItem"
            android:launchMode="singleTop" />
        <activity
            android:name=".attribute.AutoAttributeItem"
            android:launchMode="singleTop" />
        <activity
            android:name=".button.MyToggleButtonItem"
            android:launchMode="singleTop" />
        <activity
            android:name=".my.viewpager.MyViewPagerItem"
            android:launchMode="singleTop" />
        <activity
            android:name=".quick.index.QuickIndexItem"
            android:launchMode="singleTop" />
        <activity
            android:name=".slide.SlideMenuItem"
            android:launchMode="singleTop" />
        <activity
            android:name=".wave.WaveItem"
            android:launchMode="singleTop" />
        <activity
            android:name=".property.animation.PropertyAnimation"
            android:launchMode="singleTop" />
        <activity
            android:name=".scrollbyandscrollto.TestScrollByAndScrollTo"
            android:launchMode="singleTop" />
        <activity
            android:name=".touch_eventtest.TouchEventActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".dispatch.DispatchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".wave_full.WaveFullItem"
            android:launchMode="singleTop" />
        <activity
            android:name=".hktech.HK"
            android:launchMode="singleTop" />
        <activity
            android:name=".loading.LoadingActvity"
            android:launchMode="singleTop" />
        <activity
            android:name=".dy_loading.DYLoadingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".wave_anim.WaveAnimActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".float_windows.FloatWinActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".color_matrix.ColorMatrixActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".telescope.TelescopeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".photobackcolor.ReplaceBackColorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".achartengine_test_item.AChartEngineTestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>