<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.customview">
    <!--动作管理覆盖权限-->
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/qq_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/qq_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".youku.menu.MenuActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".youku.menu.YoukuMenu" />
        <activity android:name=".advance.AdvanceItem" />
        <activity android:name=".popup.windows.PopupWindowsItem" />
        <activity android:name=".attribute.AutoAttributeItem" />
        <activity android:name=".button.MyToggleButtonItem" />
        <activity android:name=".my.viewpager.MyViewPagerItem" />
        <activity android:name=".quick.index.QuickIndexItem" />
        <activity android:name=".slide.SlideMenuItem" />
        <activity android:name=".wave.WaveItem" />
        <activity android:name=".property.animation.PropertyAnimation" />
        <activity android:name=".scrollbyandscrollto.TestScrollByAndScrollTo" />
        <activity android:name=".touch_eventtest.TouchEventActivity" />
        <activity android:name=".dispatch.DispatchActivity" />
        <activity android:name=".wave_full.WaveFullItem" />
        <activity android:name=".hktech.HK" />
        <activity android:name=".loading.LoadingActvity" />
        <activity android:name=".dy_loading.DYLoadingActivity" />
    </application>

</manifest>